<section class="section section-top section-full">

    <!-- Cover -->
    <div class="bg-cover" style="background-image: url(assets/img/12.jpg);"></div>

    <!-- Overlay -->
    <div class="bg-overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 col-lg-7 ">
                <div class="banner-content">
                    <!-- Preheading -->

                    <!-- Heading -->
                    <h1 class="text-white text-center mb-4 display-4 font-weight-bold">
                        Necesitas una web? <br> Nosotros te ayudamos!
                    </h1>

                    <!-- Subheading -->
                    <p class="lead text-white text-center mb-5">
                      Con mas de 3 años de experiencia en desarollo y diseño web podemos llevar tu idea o negocio a la red
                    </p>

                    <!-- Button -->
                    <p class="text-center mb-0" >
                        <a href="#" target="_blank" class="btn btn-primary beating-btn">
                            Contactanos
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>
