<!-- ABOUT
    ================================================== -->
<section class="section bg-light" id="about">
    <div class="container">
        <div class="row ">
            
            <div class="col-lg-6">
            <H1>ASHDAGSDJASGDASDJ</H1>
            </div>

            <div class="col-lg-6 ">
                <div class="about-content">
                    <h2 class="display-5">
                        Nos enfocamos en que la experiencia de usuario sea fluida, agradable e intuitiva.
                    </h2>
                    <p> Desde la etapa de diseño hasta la ultima linea de codigo hombro a hombro con nuestros clientes
                        para que el resultado sea siempre el deseado.</p>


                    <p>¿Tenes dudas ? <a href="#">Contactate con nosotros</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5 align-items-center ">
            <div class="col-lg-6 col-md-6">
                <div class="about-content-2 ">
                    <h2 class="display-5">
                        Usamos las mejores tecnologias en cada uno de nuestros trabajos
                    </h2>
                    <p> Diseñamos y desarrollamos webs completamente responsive para que tu sitio se vea genial en
                        cualquier dispositivo</p>

                    <a href="#" class="btn btn-primary beating-btn2">Servicios</a>
                </div>
                 
             

        </div>
    </div>
    </div>
    <div class="col-lg-6 float-right">

         <img src="/src/assets/img/angular.png" alt="">
        </div>
</section>