 <!-- SERVICES
    ================================================== -->
    <section class="section" id="service">
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-7 text-center">

                    <!-- Heading -->
                    <h2 class="lg-title mb-2" id="title-animation">
                        Nuestros Servicios
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5">
                        Industry Leading Managed Services and Staffing Solutions
                    </p>

                </div>
            </div>
            <!-- / .row -->


            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-4 ">
                    <div class="service-block d-flex">
                        <div class="service-icon ">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="service-content ">
                            <h4 class="heading-shake"><span>HTML</span>Sitios web</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. asperiores rem voluptas nobis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                    <div class="service-block d-flex">
                        <div class="service-icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="heading-shake"><span>Wordpress</span> Diseño y edicion de themes </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. asperiores rem voluptas nobis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                    <div class="service-block d-flex">
                        <div class="service-icon">
                            <i class="fa fa-leaf"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="heading-shake"><span>Diseño grafico</span> Adobe Illustrator, Photoshop, XD </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. asperiores rem voluptas nobis.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                    <div class="service-block d-flex">
                        <div class="service-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="heading-shake">BOOTSTRAP <span> Edicion y diseño de themes</span> </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. asperiores rem voluptas nobis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                    <div class="service-block d-flex">
                        <div class="service-icon">
                            <i class="fa fa-bug"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="heading-shake">Html Css <span>BUG Fixing</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. asperiores rem voluptas nobis.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 mb-4">
                    <div class="service-block d-flex">
                        <div class="service-icon">
                            <i class="fa fa-shield-alt"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="heading-shake">24/7 <span>soporte dedicado
                            </span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. asperiores rem voluptas nobis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
